@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto&display=swap');

body{
    text-align: center;
    font-family: "Poppins", sans-serif;
    /* background-color: rgb(188, 224, 255); */
    background-color: black;
    color: aliceblue;
    overflow: hidden;
}

h3{
    font-weight: 900;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 220px;
    width: 220px;
    /* border: 8px solid black; */
    border: 2px solid white;
    border-radius: 35px;
    margin: 30px 15px;
}

.red{
    background-color: rgb(245, 63, 99);
}

.blue{
    background-color: rgb(98, 145, 233);
}

.purple{
    background-color:rgb(155, 89, 222);
    /* background-color:rgb(152, 230, 84); */
}

.yellow{
    background-color: rgb(245, 245, 86);
}

.flash{
    background-color: aliceblue;
}

.userflash{
    /* background-color: chartreuse; */
    background-color: green;

}

@media (max-width: 610px){
    .btn{
        height: 150px;
        width: 150px;
        border-radius: 25px;
    }

    h3{
        display: none;
    }
}

@media (max-width: 360px){
    .btn{
        height: 110px;
        width: 110px;
        border-radius: 20px;
        margin: 15px 7.5px;
    }

    h3{
        display: none;
    }
}